/* config da imagem de fundo */
.fundoLogin {
  background-image: url("../../assets/images/white_bg.jpg");
  background-size: contain;
  background-position-y: 100%;
}

.fundo-mascara {
  background: #ffffff;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask-image: linear-gradient(to right, #000000 47%, #000000d5 64%, #000000a1 100%);
}

/* config do botão animado*/

.button {
  position: relative;
  background-color: #727272;
  height: 3.3rem;
  width: 14rem;
  border: 1px solid;
  text-align: left;
  padding: 0.75rem;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.button:hover {
  border-color: #ffffff;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.125rem;
  color: #ffffff;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  filter: blur(0.5rem);
  transition: all 0.3s ease;
}

.button::before {
  width: 3rem;
  height: 3rem;
  background-color: #121313;
  right: 0.25rem;
  top: 0.25rem;
}

.button::after {
  width: 5rem;
  height: 5rem;
  background-color: #b9b9b9;
  right: 2rem;
  top: 0.75rem;
}

.button:hover::before {
  right: 3rem;
  bottom: 2rem;
  box-shadow: 20px 20px 20px 30px #919191;
}

.button:hover::after {
  right: -2rem;
}

/* animação para revelar texto*/

.entrada-lateral {
  animation: slideIn 1s;
  animation-delay: .5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.entrada-baixo-cima {
  animation: showup 1s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes showup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
